* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.animated-container {
  position: relative;
  width: 70%;
  margin: 30px auto;
  background-color: dodgerblue;
}

.animated-container img {
  width: 50%;
}

.elements {
  position: absolute;
  top: 0;
  left: 0;
  animation-name: move;
  /* 이름 */
  animation-duration: 1.5s;
  /* 시간 */
  animation-iteration-count: infinite;
  /* 무한대로 움직여라 */
  animation-timing-function: linear;
  /* 일정한 속도로 움직여라 */
}


/* 0%는 애니메이션의 시작을 의미하고, 100%는 애니메이션의 종료를 의미한다 */
@keyframes move {
  0% {
    transform: translate(-15px, 0px);
  }
  50% {
    transform: translate(0px, -15px);
  }
  100% {
    transform: translate(-15px, 0px);
  }
}